/*Color del fondo*/ 
$colorfondo: #96beaa;
/*Letras*/
$letrascolor: #333;

/*colores de los link*/
$linkcolor: #333;
$hoverlink: #a2f05a;

/*colores de los titurlos y subtitulos*/
/*titulo h1*/
$colorh1: #124224;

/*subtitulos h2 y h3*/
$colorh2h3: #333;

/*color del formulario*/



