@use '../utilidades/mixins' as m;
@use '../variables/variables' as v;


/*reset básico */

/*cuerpo del documento*/      
body{
   @include m.fondocolor;
}

/*enlaces*/
a{
    @include m.link;
}

a:hover{
    color: v.$hoverlink;
}

/*Títulos*/
h1{
    @include m.titulosh1;
}

h2, h3 {
    @include m.titulosh2h3;
}

h3 {
    font-size: 1.5rem;
}

/*video*/
video {
    width: 100%;
    height: auto;
}




