                                /* estilos generales*/
/*reset basico */
* {
            margin: 0;
            padding: 0;
            box-sizing: border-box; /* Evita problemas con los cálculos de dimensiones */
} 
/*cuerpo del documento*/      
body{
    background-color: #fff;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

/*enlaces*/
a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #7f5af0;
}

/*Titulos*/
h1, h2, h3 {
    text-align: center;
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    color: #333;
}

/*imagenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*botones personalizados*/
.boton-compra, .boton-enviar{
    background-color: #7f5af0;
    color: #fff;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.boton-compra:hover, .boton-enviar:hover {
    background-color: #6244c5;
}

/*Logo*/
.bannerlogo{
    width: 180px;
    height: auto;
}

.navbar-brand img{
    width: 60px;
    height: auto;
}
@media (max-width: 768px){
    .navbar-brand img{
        width: 32   px;
    }
}

/*video*/
video {
    width: 100%;
    height: auto;
}

                                /*estilos index*/ 

/*titulo principal*/
.tituloinicio{
    font-size: 2.5rem;
    margin-top: 1rem;
    color: #7f5af0;
}

/* lista de navegacion en index*/
.listainicio {
    list-style: none;
    gap: 1rem;
    font-size:  1rem;
}

.listainicio .nav-link{
    color: #333;
    font-weight: bold;
}

.listainicio .nav-link:hover{
    color: #7f5af0;
}

/*video Carrusel*/
.videocarrusel{
    margin-top: 2rem;
}

.carruselinicio {
    border: 3pc solid #7f5af0;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}   

                                /*Estilos Sub paginas*/
                                /*Agendas hechas*/

/*Titulo*/
.titulosubpagina {
    font-size: 2rem;
    margin-top: 1.5rem;
    color: #7f5af0;
    text-align: center;
}    

/*menu de navegacion*/
.listaagendashechas{
    list-style: none;
    gap: 1rem;
    font-size: 1rem;
    padding-left: 0;
}

.listaagendashechas .nav-link{
    color: #333;
    font-weight: bold;
}

.listaagendashechas.nav-link:hover{
    color: #7f5af0;
}

/*galeria de agendas*/
.imagenesmuestra{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/*contenedor de cada agenda*/
.iah{
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid #ddd;
    transition: transform 0.3s ease;
}

.iah:hover{
    transform: scale(1.03);
}

/*descripcion imagenes*/
.textoimagenes{
    font-size: 1rem;
    margin-top: 0.5rem; 
    color: #555;
}

                                /*Estilo Pregsupuesto*/
/*titulo*/
.titulopresu{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #7f5af0;
    text-align: center;
}

/*formulario*/
.presu{
    background-color: #0faaf1;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(0,0,0,0.1); 
}

/*imagenes de los gatos*/
.gato{
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .gato{
        display: none;
    }
}

                               /* Estilo de la pagina Tienda*/
/*contenedor general de productos*/
.productos{
    padding: 2rem 1rem;
}

/*productos individuales*/
 .producto{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 8px rgb(0,0,0,0.5);
    transition: transform 0.3s ease;
}
.producto:hover {
    transform:  scale(1.02);
}

.it{
    border-radius: 8px;
    border: 2px solid #e5e5e5;
    margin-bottom: 1rem;
}

.precio{
    font-weight: bold;
    color: #7f5af0;
    margin: 0.5rem 0;
}

.boton-compra {
    background-color: #7f5af0;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.boton-compra:hover{
    background-color: #6244c5;
}

                                /* Estilos de la pagina contacto*/

/*Contenedor de Mapa y formulario*/
.contenedor-contacto{
    padding: 2rem 1rem;
}

/*formulario contacto*/
.formcontacto{
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
}

@media (max-width: 768px) {
    .gato{
        display: none;
    }
}

/*mapa de ubicacion*/
.mapa{
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-top: 1rem;
}

/*infomracion de contacto*/
.datos-contacto {
    text-align: center;
    font-size: 1rem;
    color: #333;
}
.datos-contacto a {
    color: #7f5af0;
    text-decoration: none;
}
.datos-contacto a:hover{
    text-decoration: underline;
}