@use '../variables/variables' as v;
@use '../media/media'; 
@use '../layout/barranavegacion' as bn;
@import '../utilidades/mixins';
@import '../paginas/tienda';


/*Titulo*/
.titulosubpagina {
  font-size: 2rem;
  margin-top: 1.5rem;
  color: #7f5af0;
  text-align: center;
}

/*menu de navegacion*/
.listaagendashechas {
  @include bn.barranavsubpaginas;
}

.listaagendashechas .nav-link {
  @include bn.linknavbar;
}

.listaagendashechas.nav-link:hover {
  color: v.$hoverlink;
}

/*galeria de agendas*/
.imagenesmuestra {
  @extend %contenedor-imagenes;
}

/*contenedor de cada agenda*/
.agendas {
    @extend %imagenes-producto;
}

.iah:hover {
  transform: scale(1.03);
}

/*descripcion imagenes*/
.textoimagenes {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #555;
}
