
@use '../variables/variables' as v;
@use '../media/media'; 
@use '../utilidades/mixins' as m;


/*productos individuales*/
.productos {
 @include m.contenedor-imagenes;
}

.producto{
  @include m.imagenes-producto;
}

.producto:hover {
  transform: scale(1.02);
}

.it {
  border-radius: 8px;
  border: 2px solid #e5e5e5;
  margin-bottom: 1rem;
}

.precio {
  font-weight: bold;
  color: #7f5af0;
  margin: 0.5rem 0;
}

.boton-compra {
   @include m.botones-compra-enviar;
}
.boton-compra:hover{
    background-color: #6244c5;
}


%contenedor-imagenes {
 @include m.contenedor-imagenes;
}

%imagenes-producto {
    @include m.imagenes-producto;
}
